.homepage {
  position: relative;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

.weather {
  margin-top: 20px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.box-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.box-img.equal-size {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.box-title {
  margin-top: 10px;
  font-size: 1.5rem;
}

.box-description {
  margin-top: 10px;
}

.box-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.box-button:hover {
  background-color: darkgreen;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: limegreen;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: darkgreen;
}

.lime-text {
  color: limegreen;
}
