.homepage {
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./AdobeStock_624996753_Preview.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.cta-button {
  margin-top: 350px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #45a049;
}

.weather {
  margin-top: 20px;
  font-size: 16px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 200px;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.box-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.box-description {
  margin-top: 10px;
}

.box-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.box-button:hover {
  background-color: #45a049;
}
